Repository voxpupuli/puppet-erlang, pull requests merged in 2024-02, with the labels that each got.

#28 Drop debian 9 support
  metadata.json
Labels: backwards-incompatible

#22 modulesync 7.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  Gemfile
  spec/spec_helper.rb
  spec/spec_helper_acceptance.rb
Labels: modulesync

#23 Add Puppet 8 support
  metadata.json
Labels: enhancement

#31 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync
