Repository voxpupuli/puppet-erlang, pull requests merged in 2025-05, with the labels that each got.

#42 Type Hardening
  REFERENCE.md
  manifests/init.pp
  manifests/repo.pp
  manifests/repo/apt.pp
  manifests/repo/apt/erlang_solutions.pp
  manifests/repo/yum.pp
  manifests/repo/yum/epel.pp
  manifests/repo/yum/erlang_solutions.pp
  manifests/repo/yum/packagecloud.pp
  metadata.json
  spec/classes/repo/apt/erlang_solutions_spec.rb
  spec/classes/repo/apt_spec.rb
  spec/classes/repo/yum/epel_spec.rb
  spec/classes/repo/yum/erlang_solutions_spec.rb
  spec/classes/repo/yum/packagecloud_spec.rb
  spec/classes/repo/yum_spec.rb
  spec/classes/repo_spec.rb
Labels: backwards-incompatible

#37 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#44 Allow puppetlabs/apt 10.x
  metadata.json
Labels: enhancement

#43 metadata.json: Add OpenVox
  metadata.json
Labels: enhancement
